version: 2
jobs:
  build:
    docker:
      - image: circleci/node:12.10.0
      
    steps:
      - checkout
      - run: npm install
      - run: npm test
      - run: ./node_modules/codecov/bin/codecov
